body{
    background-color: #151515;
    color: #eaeaea;
}

.entries{
    float: right;
}

span, a{
    color: aqua;
    border-spacing: 12px;
    font-size: 16px;
    cursor: pointer;
}

.entries {
    display: grid;
}

h1, h2, h3, h4, h5, h6 {
    color: #b5e853;
}

h1:before {
    content:"./ ";
}
