body{
    background-color: #36393e;
    color: #e6e6e6;
}

.entries{
    float:right;
}

span{
    color: aqua;
    border-spacing: 12px;
    font-size: 16px;
    cursor: pointer;
}

entry-1 entry-2 entry-3 {
    display: grid;
}